name: '[Workflow] On Release Published'

concurrency:
  group: release-${{ github.ref }}

on:
  release:
    types: [published]

jobs:
  release-distribute:
    name: 'Release'
    uses: webgrip/workflows/.github/workflows/application-release-distribute.yml@main
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
    with:
      version: '${{ github.event.release.tag_name }}'
