name: '[Workflow] On Release Published'

concurrency:
  group: release-${{ github.ref }}

on:
  release:
    types: [published]

jobs:
  release-distribute-docker-hub:
    name: 'Release'
    uses: webgrip/workflows/.github/workflows/application-release-distribute.yml@main
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
    with:
      version: '${{ github.event.release.tag_name }}'

  release-distribute-ghcr:
    name: 'Distribute'
    uses: webgrip/workflows/.github/workflows/docker-build-and-push-ghcr.yml@main
    with:
      docker-context: ${{ inputs.docker_context }}
      docker-file: ${{ inputs.docker_file }}
      docker-tags: |
        ${{github.repository_owner}}/${{ github.event.repository.name }}:latest
        ${{github.repository_owner}}/${{ github.event.repository.name }}:${{ inputs.version }}
